// 폰트
$fontLight : "paybooc-Light";
$fontMedium : "paybooc-Medium";
$fontBold : "paybooc-Bold";

$subFontMedium : "S-CoreDream-5Medium";
$subFontBold : 'GangwonEduPowerExtraBoldA';

$mainColor : #91ced5;
$subColor :#63b9c3;