@import "../variables";

.slideBox {
  padding-top: 150px;
}

.thumbBox {
  padding-top: 10px;
}

@media screen and (max-width:1200px) {
	.swiper-slide img{
		width: 100%;
	}
}

@media screen and (max-width:800px) {
	.slideBox {
		padding-top: 60px;
	  }
}