@import "../variables";

/*폰트 옵션*/
.fs {
  &24 {
    font-size: 24px;
  }
  &26 {
    font-size: 26px;
  }
  &30 {
    font-size: 30px;
  }
  &34 {
    font-size: 34px;
  }
  &38 {
    font-size: 38px;
  }
  &40 {
    font-size: 40px;
  }
  &44 {
    font-size: 44px;
  }
}
/*font color*/
.fc {
  &Black {
    color: black;
  }
  &Brand {
    color: #48c8d8;
  }
  &146 {
    color: rgb(146, 146, 146);
  }
}
/*line-height*/
.lh {
  &12 {
    line-height: 1.2;
  }
  &12 {
    line-height: 1.3;
  }
  &14 {
    line-height: 1.4;
  }
}
/*font-weight*/
.bold {
  font-weight: bold;
  &er {
    font-family: $gmarketFontBold;
  }
}
.light {
  font-weight: light;
}

.ls10 {
  letter-spacing: 10px;
}

//공용부
* {
  font-family: $gmarketFont;
}
p {
  display: inline-block;
}
.pointer {
  cursor: pointer;
}
.mo {
  display: none;
}
//의료진 인사말
.StaffIntro {
  text-align: center;
  padding: 80px 0 60px 0;
}
.StaffIntro div:nth-child(1) {
  padding-bottom: 30px;
}
.StaffIntro div:nth-child(2) {
  padding-bottom: 15px;
}
.StaffIntro div:nth-child(3) {
  padding-bottom: 30px;
}
.StaffIntro div:nth-child(4) {
  padding-bottom: 35px;
}
.StaffIntro div:nth-child(5) {
  padding-bottom: 60px;
}

.StaffPromise > div {
  background: rgb(247, 247, 247);
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 4fr 1fr;
  padding: 30px 0;
  border-radius: 10px;
  margin-bottom: 35px;
}
.StaffPromise > div > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.StaffPromise > div > div:nth-child(3) {
  padding-left: 40px;
}
.StaffPromise > div > div:nth-child(3) p,
strong {
  line-height: 1.3;
}

.staffSignature {
  padding: 30px 0 100px 0;
  text-align: center;
}
.staffSignature > :nth-child(1) {
  padding-bottom: 80px;
}
.staffSignature div:last-child p {
  vertical-align: bottom;
}
.staffSignature .sign {
  font-family: "Nanum Brush Script";
  font-size: 44px;
  padding-left: 10px;
  line-height: -2;
}
.chiefIntro {
  padding-top: 120px;
  background-color: rgb(249, 249, 249);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.chiefIntro .chiefTitle {
  padding-bottom: 120px;
  text-align: center;
}
.chiefIntro .chiefTitle div:first-child {
  padding-bottom: 20px;
}
.chiefIntro .chiefImg img {
  width: 600px;
  height: 100%;
  object-fit: cover;
}
.chiefIntro .chiefHistory {
  padding-left: 140px;
}
.chiefIntro .flexRow {
  display: flex;
}
.chiefIntro .flexRow div:nth-child(1) {
  flex: 1;
}
.chiefIntro .flexRow > div:nth-child(2) {
  letter-spacing: 1.2px;
  flex: 1;
}
.chiefIntro ul li {
  display: list-item;
  text-align: start;
}
.chiefIntro ul li img {
  padding-right: 10px;
}
.chiefIntro ul li:not(:nth-child(1), :last-child) {
  font-family: "GmarketSansBoldLight";
  font-size: 24px;
  padding-bottom: 15px;
}
.chiefIntro ul li:last-child {
  font-family: "GmarketSansBoldLight";
  font-weight: 200;
  font-size: 24px;
  padding-bottom: 40px;
}
.chiefIntro ul li:nth-child(1) {
  padding-bottom: 25px;
}
.chiefIntro .chiefHistory > div:nth-child(1) {
  padding-bottom: 55px;
}
.chiefIntro .chiefHistory div:nth-child(1) p:nth-child(2) {
  padding-left: 20px;
  vertical-align: bottom;
}
.chiefIntro .chiefHistory div:nth-child(1) > div:first-child {
  padding-bottom: 20px;
}
.chiefIntro .viewThesis {
  padding-bottom: 70px;
}

//팝업
.overray {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.overray .popList {
  position: absolute;
  width: 50vw;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}
.overray .popClose {
  position: relative;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 25%;
  left: 75%;
  transform: translate(-50%, -50%);
  border: 1px solid gainsboro;
  text-align: center;
  cursor: pointer;
  line-height: 30px;
  font-weight: bolder;
  z-index: 999999;
}
.popList::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */
}
.popList::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: $subColor; /* 스크롤바의 색상 */
  border-radius: 10px;
}
.popList::-webkit-scrollbar-track {
  background: rgb(229, 229, 229); /*스크롤바 뒷 배경 색상*/
}
.overray .popList{
  
  overflow-y: scroll;
  h4{
    font-size: 27px;
    color: $subColor;
    font-family: $gmarketFontBold;
    padding-bottom: 10px;
    border-bottom: 2px solid $mainColor;
  }
  p{
    padding-top: 20px;
    font-size: 18px;
    line-height: 1.2;
  }

}

.chiefCert {
  background-color: rgb(245, 245, 245);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  .sampleDiv {
    border: 1px solid black;
    height: 250px;
  }
}
.chiefCert {
  .slide{
    padding: 90px 30px;
  }
}
.chiefCert .certList div {
  height: 400px;
  background: white;
  border: 1px solid rgb(194, 194, 194);
}
@media only screen and (max-width: 1200px) {
  .chiefIntro .chiefImg {
    text-align: center;
    padding-bottom: 40px;
  }
  .chiefIntro .chiefImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .chiefIntro .chiefHistory {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and(max-width: 1000px) {
  /*폰트 옵션*/
  .fs {
    &24 {
      font-size: 18px;
    }
    &26 {
      font-size: 18px;
    }
    &30 {
      font-size: 18px;
    }
    &34 {
      font-size: 20px;
    }
    &38 {
      font-size: 20px;
    }
    &40 {
      font-size: 40px;
    }
    &44 {
      font-size: 24px;
    }
  }
  .mo {
    display: block;
  }
  .pc {
    display: none;
  }
  .StaffPromise > div {
    background: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    padding: 45px 0;
    border-radius: 10px;
    margin-bottom: 35px;
  }
  .StaffPromise > div > div:nth-child(3) {
    padding-left: 40px;
    padding-right: 40px;
  }
  .chiefIntro {
    padding-top: 45px;
    background-color: rgb(249, 249, 249);
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }
  .chiefIntro .chiefTitle {
    padding-bottom: 40px;
    text-align: center;
  }
  .chiefIntro .chiefTitle div:first-child {
    padding-bottom: 10px;
  }
  .chiefIntro .flexRow {
    display: flex;
    flex-direction: column;
  }
  .staffSignature {
    padding: 20px 0 50px 0;
    text-align: center;
  }
  .staffSignature div:nth-child(1) p {
    line-height: 1.5;
  }
  .StaffPromise > div > div:nth-child(3) {
    text-align: center;
  }
  .StaffPromise > div > .num {
    padding-bottom: 20px;
  }
  .chiefIntro .chiefImg img {
    width: 40%;
    height: 100%;
    object-fit: cover;
  }
  .chiefIntro ul li:not(:nth-child(1), :last-child) {
    font-family: "GmarketSansBoldLight";
    font-size: 12px;
    padding-bottom: 8px;
  }
  .chiefIntro ul li:last-child {
    font-family: "GmarketSansBoldLight";
    font-weight: 200;
    font-size: 12px;
    padding-bottom: 40px;
  }
  .overray .popList{
  
    overflow-y: scroll;
    h4{
      font-size: 18px;
      color: $subColor;
      font-family: $gmarketFontBold;
      padding-bottom: 10px;
      border-bottom: 2px solid $mainColor;
    }
    p{
      padding-top: 20px;
      font-size: 12px;
      line-height: 1.2;
    }
  
  }
}
@media screen and(max-width: 500px) {
  .chiefIntro .chiefImg img {
    width: 40%;
    height: 100%;
    object-fit: cover;
  }
  .chiefCert {
    .slide{
      padding: 40px 20px;
    }
  }
}
