@import "../variables";

.whyBarunmi{
    text-align: center;
    padding: 100px 0px;
    h2{
        color: $subColor;
        font-family: $subFontBold;
        font-size: 30px;   
    }

    h3{
        margin-top: 10px;
        font-family: $subFontMedium;
        font-size: 16px;
        line-height: 1.2;
    }

    ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 50px;
        li{
            &:nth-child(2){
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
            }
            padding: 50px 0px;
            h4{
                font-size: 40px;
                font-family: $subFontBold;
                color: $subColor;
            }
            p{
                font-size: 18px;
                font-family: $fontBold;
                color: #ccc;
            }
        }
    }
}

.whyDTS {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 585px;
    >div{
        padding: 10px 0;
    }
    .top{
        font-family: $gmarketFontBold;
        font-size: 35px;
        color: $subColor;
    }
    .mid{
        font-family: $gmarketFont;
        font-size: 20px;
        text-align: center;
        div{
            padding: 3px 0;
        }
    }
    .bot{
        display: flex;
        text-align: center;
        height: 195px;
        
        div{            
            width: 426px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        >div:nth-child(2){
            border-left: 1px solid gray;
            border-right: 1px solid gray;
        }
        .head{
            font-size: 45px;
            color: $subColor;
            font-family: $gmarketFontBold;
        }
        .tail{
            font-family: $gmarketFont;
            font-size: 24px;
            color: gray;
        }
    }
    .logo{
        position: absolute;
        left: 400px;
        top: 62px;
        width: 115px;
        height: 115px;
        background-image: url("../../../public/img/subPage/why/logo.png");
    }
}

.whyDigital{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-image: url("../../../public/img/subPage/why/whyDigital_bg.jpg");
    font-family: $gmarketFont;
    div{
        color:white;
        display: flex;
    }
    .head{
        font-size: 17px;
    }
    .tail{
        font-size: 30px;
        padding: 15px;
        b{
            font-size: 30px;            
        }
        
    }
    
    .box > div{  
        position: relative; 
        display: flex;
        flex-direction: column;
        margin: 22px;
        width: 375px;
        height: 385px;
        background-color: white;
    }
    .box > div > div{
        padding: 10px;
        display: flex;
        flex-direction: column;        
    }
    .box > div > div>div{
        
        padding: 5px;
    }
    bold {
        padding: 10px;
        color: black;
        font-family: $gmarketFontBold;
        font-size: 24px;
    }
    light{
        display: flex;
        align-items: center;
        color: black;
        font-family: $gmarketFontLight;
        font-size: 16px;
    }
    medium{
        color: black;
        font-family: $gmarketFont;
        font-size: 16px;
    }
}

