@import "../variables";

@mixin containerTitle {
  h2{
    text-align: center;
    font-size: 30px;
    font-family: $fontBold;
    div{
      width: 50px;
      height: 3px;
      background-color: $mainColor;
      margin: 20px auto 0px;
    }
  }

  @media (max-width:500px){
    h2{
      font-size: 24px;
      div{
        margin: 10px auto 0px;
      }
    }
  }
}

.mainBanner{
  position: relative;
  .mainSlide{
    .slide{
      height: 85vh;
      min-height: 500px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .mouse{
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    z-index: 1;
    cursor: pointer;
  }

}

.director{
  padding-top: 50px;
  background-color: #f8f8f8;
  ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    li{
      h2{
        display: inline-flex;
        align-items: center;
        gap: 5px;
        font-size: 20px;
        b{
          font-size: 50px;
          font-family: $subFontBold;
          letter-spacing: 10px;
          color: #333;
        }
      }
      h3{
        color: $mainColor;
        font-size: 16px;
        font-weight: bold;
      }
      p{
        margin-top: 30px;
        line-height: 2;
        font-weight: bold;
        font-size: 16px;
      }
      a{
        margin-top: 15px;
        background-color: $mainColor;
        padding: 7px 15px;
        color: #fff;
      }
    }
  }
}

.system{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 0px;
  margin-bottom: 250px;
  position: relative;
  h2{
    color: #fff;
    font-size: 24px;
  }
  h3{
    display: inline-flex;
    align-items: center;
    gap: 15px;
    font-size: 40px;
    color: #fff;
    b{
      font-size: 50px;
      font-family: $subFontBold;
      color: #fff;
      padding-top: 25px;
    }
  }
  .wrap > .bar{
    width: 150px;
    height: 1px;
    background-color: #fff;
    margin: 30px 0px 50px;
  }
  .slider{
    color: #fff;
    overflow: unset;
    .slide{
      opacity: 0 !important;
      h4{
        font-family: $subFontBold;
        font-size: 30px;
      }
      p{
        margin-top: 20px;
        line-height: 2;
        font-size: 16px;
        letter-spacing: 2px;
      }
      .imageBox{
        position: absolute;
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1200px;
        > div{
          display: flex;
          align-items: center;
          flex-direction: column;
          color: #000;
          font-size: 30px;
          font-family: $subFontBold;
          img{
            margin-bottom: 15px;
            width: 100%;
          }
        }
      }
    }
    .swiper-slide-active.slide{
      opacity: 1 !important;
    }
  }
}

.pretty{
  padding: 50px 0px;
  > div{
    max-width: 1400px;
    padding: 0px 15px;
    width: 100%;
    margin: 0 auto;
    h2{
      text-align: center;
      font-size: 40px;
      font-family: $fontBold;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-bottom: 20px;
      b{
        font-size: 42px;
        font-family: $subFontBold;
        padding-top: 17px;
      }
    }
    .slider{
      .slide{
        img{
          width: 100%;
          border-radius: 25px;
        }
        h3{
          color: $mainColor;
          font-size: 24px;
          font-family: $fontBold;
          margin: 20px 0px;
          border-bottom: 1px solid $mainColor;
          display: inline-block;
        }
        h4{
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        p{
          font-size: 16px;
          font-weight: bold;
          color: #aaa;
        }
      }
    }
    // .pageNav{
    //   width: 800px;
    //   height: 5px;
    //   border-radius: 30px;
    //   margin: 50px auto 0px;;
    //   background-color: #ccc;
    //   position: relative;
    //   cursor: pointer;
    //   div{
    //     position: absolute;
    //     top: 50%;
    //     left: 0%;
    //     transform: translateY(-50%);
    //     z-index: 1;
    //     width: 50%;
    //     background-color: $mainColor;
    //     height: 5px;
    //     border-radius: 30px;
    //     transition: left .5s;
    //   }
    // }
  }
}

.youtube{
  padding: 150px 0px 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  > div{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    h2{
      text-align: center;
      font-size: 40px;
      font-family: $fontBold;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-bottom: 20px;
      color: #fff;
      b{
        font-size: 42px;
        font-family: $subFontBold;
        padding-top: 17px;
        letter-spacing: -1px;
      }
    }
    .slider{
      .slide{
        position: relative;
        transition: transform 1s;
        img{
          width: 100%;
        }
      }
    }
    > p{
      text-align: center;
      margin-top: 50px;
      color: #fff;
      line-height: 1.5;
      font-size: 30px;
      b{
        font-size: 30px;
        font-family: $fontBold;
        line-height: 1.5;
        color: transparent;
        background: linear-gradient(to top, #61bbc4, #41e6d3);
        color: transparent;
        -webkit-background-clip: text;
      }
    }
    .sns{
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      a{
        background-color: #fff;
        padding: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        border-radius: 20px;
        p{
          font-size: 16px;
          b{
            display: block;
            font-size: 20px;
            margin-bottom: 10px;
          }
        }
        img{}
      }
    }
  }
}

.baunmiLook{
  @include containerTitle();
  padding: 100px 0px 100px;
  .baunmiSlide{
    margin: 60px 0px 0px;
    .slide{
      img{
        width: 100%;
      }
    }
    .pageingBall{
      text-align: center;
      margin-top: 30px;
      span{
        width: 12px;
        height: 12px;
        border: 2px solid $mainColor;
        background: none;
        opacity: 1; 
      }
      span.swiper-pagination-bullet-active{
        background-color: $mainColor;
      }
    }
  }
}

.loction{
  .content{
    background-color: #fbfbfb;
    width: 100%;
    padding: 50px 0px;
    ul{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      li{
        text-align: center;
        h3{
          font-size: 22px;
          font-family: $subFontMedium;
          font-weight: bold;
          margin-bottom: 20px;
        }
        p{
          font-size: 20px;
          line-height: 1.4;
          font-family: $subFontMedium;
          span{
            font-size: 20px;
            font-family: $subFontMedium;
            font-weight: bold;
            color: $mainColor;
            line-height: 1.4;
            margin-top: 5px;
            display: inline-block;
          }
          span.lunchTime{
            font-size: 18px;
          }
        }
      }
    }
  }

  .kakaoMap{
    width: 100%;
    height: 350px;
  }

  .loctionDetail{
    text-align: center;
    padding: 40px 0px;
    font-size: 30px;
    font-family: $subFontMedium;
    i{
      font-size: 30px;
      margin-right: 20px;
      color: $mainColor;
    }
  }
}

.brand{
  background-color: #f3f3f3;
  padding: 40px 0px;
  .brandSlide{
    .swiper-wrapper{
      align-items: center;
    }
    .slide{
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
}

@media (max-width:1200px){
}

@media (max-width:1000px){
  .mainBanner{
    .mainSlide{
      p{
        font-size: 50px;
        span{
          font-size: 50px;
          &::after{
            height: 15px;
          }
        }
      }
    }
  }
  .director{
    padding: 50px 0px;
    ul{
      flex-direction: column;
      text-align: center;
      gap: 50px;
    }
  }
}

@media (max-width:800px){
  .system {
    .slider {
      .slide {
        .imageBox{
          display: none;
        }
      }
    }
  }

  .youtube {
    padding: 100px 15px;
    > div {
      > p{
        font-size: 24px;
        b{
          font-size: 24px;
        }
      }
      .sns {
        flex-direction: column;
        a{
          max-width: 500px;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width:700px){
  .loction{
    .content{
      ul{
        grid-template-columns: 1fr;
        grid-gap: 20px;
        li{
          padding:0 30px;
          &:nth-child(2){
            background-color: #fff;
            padding: 10px 0px;
          }
        }
      }
    }
  }
}

@media (max-width:600px){
  .mainBanner{
    .mainSlide{
      p{
        br{
          display: block;
        }
        span{
          &::after{
            width: 150px;
            bottom: -5px;
          }
        }
      }
    }
  }

  .system {
    padding: 100px 0px 500px;
    margin-bottom: 0px;
    h2{
      text-align: center;
      font-size: 18px;
    }
    h3{
      text-align: center;
      font-size: 30px;
      display: flex;
      justify-content: center;
      b{
        font-size: 36px;
        padding-top: 20px;
      }
    }
    .bar{
      margin: 20px auto 30px !important;
      width: 100px !important;
    }
    .slider {
      .slide {
        .imageBox{
          display: none;
        }
        p{
          font-size: 16px;
          letter-spacing: 0px;
        }
      }
    }
  }

  .youtube {
    padding: 100px 15px;
    > div {
      > p{
        font-size: 20px;
        b{
          font-size: 20px;
        }
      }
      .sns {
        flex-direction: column;
        div{
          max-width: 500px;
          width: 100%;
        }
      }
    }
  }

  .baunmiLook{
    padding: 100px 0px 100px;
  }

  .loction{
    .loctionDetail{
      font-size: 20px;
      i{
        font-size: 20px;
        margin-right: 10px;
      }
    }
  }
}

@media (max-width:500px){
  .mainBanner{
    .mainSlide{
      p{
        font-size: 40px;
        span{
          font-size: 40px;
          &::after{
            width: 120px;
          }
        }
      }
    }
  }

  .director{
    ul{
      li{
        img{
          width: 300px;
        }
      }
    }
  }

  .system {
    h2{
      font-size: 16px;
    }
    h3{
      font-size: 24px;
      b{
        font-size: 28px;
        padding-top: 13px;
      }
    }
    .slider {
      .slide {
        text-align: center;
        p{
          font-size: 14px;
          br{
            display: none;
          }
        }
      }
    }
  }

  .pretty {
    > div{
      h2{
        font-size: 30px;
        b{
          font-size: 34px;
          padding-top: 15px;
        }
      }
    }
  }

  .youtube {
    > div{
      > p{
        br{
          display: none;
        }
      }
      h2 {
        font-size: 30px;
        b{
          font-size: 34px;
          padding-top: 15px;
        }
      }
    }
  }

  .loction{
    .content{
      ul{
        grid-template-columns: 1fr;
        grid-gap: 20px;
        li{
          p{
            font-size: 16px;
            span.lunchTime{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width:400px){
}
